/*
author:Debarun Mitra
application name:Weather Report application
objective: Update the user with current weather according to there location
*/
.colorPart
{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #0080ff;
}
.weatherClass
{
    position: fixed;
    top:40%;
    left:10%;
    font-style: normal;
    font-family: sans-serif;
    font-size: 300%;
    color:#FFFFFF;
}
.appClass
{
    position: fixed;
    top:40%;
    left:25%;
    font-style: normal;
    font-family: sans-serif;
    font-size: 300%;
    color:#000000;
}
.cityName
{
  position: fixed;
  top:20%;
  left:57%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 180%;
}
.dayTime
{
  position: absolute;
  top:29%;
  left:57%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 100%;
}
.weatherStatus
{
  position: absolute;
  top:33%;
  left:57%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 100%;
}
.tempCount
{
  position: absolute;
  top:36%;
  left:57%;
  font-style: normal;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 260%;
}
.celciusClass
{
  position: absolute;
  top:40%;
  left:61%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 100%;
  cursor:pointer;
}
.fahrenhiteClass
{
  position: absolute;
  top:40%;
  left:64%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 100%;
  cursor:pointer;
}
.divBar
{
  position: absolute;
  top:40%;
  left:63%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 100%;
}
.inputDiv
{
  position: absolute;
  top:55%;
  left:57%;
}
.inputHead
{
  width:100%;
  font-family: sans-serif;
  font-size: 80%;
  margin: 1px auto;
}
.textBox
{
  position: absolute;
  height: 20px;
  width:383px;
  border-radius: 3px;
  background: white;
  font-size: 16px;
  overflow: hidden;
}
.suggestVal
{
  position: fixed;
  background: white;
  width: 385px;
  border: 0px;
  margin: 24px auto;
}
.suggestVal > div
{
  padding: 2px;
  font-weight: 2px;
  font-size: 15px;
  border-top: 1px solid;
  cursor:pointer;
}
.suggestVal > div:hover
{
  background-color: #1E90FF;
}
.todayWeather
{
  position: absolute;
  top:35%;
  left:66%;
  width: 3%;
  height: 4%;

}
.endBox
{
position: absolute;
top:0%;
left: 250%;
}
